@model NTAccounting.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

<script type="text/javascript">

    jQuery(function () {
        var $subType = $("#SubTC")
        $("#MainTC").change(function () {
            var selectedItem = $(this).val();   // MainCategoryID
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "@Url.Action("GetSubTransactionCategory", "Transactions")",
                data: { id: selectedItem },
                success: function (data) {
                    $subType.html('');
                    $.each(data, function (i) {
                        $subType.append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>');
                    });
                    statesProgress.hide();
                },
                error: function (xhr) {
                    alert('Error!.');
                }
            })
        });
    });

    jQuery(function () {
        var $FinacialACsubType = $("#FinacialACID")
        $("#UsrGrpID").change(function () {
            var selectedItem = $(this).val();   // UsrGrpID
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "@Url.Action("GetFinancialAccountJson", "Transactions")",
                data: { userGroupID: selectedItem },
            success: function (data) {
                $FinacialACsubType.html('');
                $.each(data, function (i) {
                    $FinacialACsubType.append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>');
                });
                statesProgress.hide();
            },
            error: function (xhr) {
                alert('Error!.');
            }
        })
    });
    });

</script>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubTransactionCategory.MainCategoryID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select id="MainTC" asp-for="SubTransactionCategory.MainCategoryID" class="form-control"
                        asp-items="(SelectList)@ViewData["MainTransactionCategoryID"]" onchange="populate(this.id,'location')">
                    <option> Please Select </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubTransactionCategoryID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select id="SubTC" asp-for="SubTransactionCategoryID" class="form-control" asp-items="(SelectList)@ViewData["SubTransactionCategoryID"]">
                    <option> Please Select </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Time" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@ViewData["UserGroupDisplayName"]</label>
            <div class="col-md-10">
                @{
                    var currentlySelectedIndex = 0; // Currently selected index (usually will come from model)
                }
                <select id="UsrGrpID" asp-for="@currentlySelectedIndex" class="form-control"
                        asp-items="(SelectList)@ViewData["UserGroupID"]" onchange="populate(this.id,'location')"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FinancialAccountID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select id="FinacialACID" asp-for="FinancialAccountID" class="form-control" asp-items="(SelectList)@ViewData["FinancialAccountID"]">
                    <option> Please Select </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
